<?xml version="1.0"?>
<!-- Macro that includes all required sensors -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- TODO Use local definition of sensors -->
  <!-- TODO Add support for all sensors on LunaLab variant with arguments that enable/disable them -->

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <!-- Sensors -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro"/>


  <!--       -->
  <!-- Macro -->
  <!--       -->
  <!-- prefix - Prefix for all entities -->
  <xacro:macro name="lunalab_summit_xl_sensors" params="prefix">
    <!-- IMU -->
    <xacro:sensor_imu prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
      <origin xyz="-0.18 0.0 0.170" rpy="0 0 0"/>
    </xacro:sensor_imu>

    <!-- 2d laser -->
    <xacro:sensor_hokuyo_ust10lx prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" prefix_topic="front_laser" gpu="$(arg gpu)">
      <origin xyz="0.0 0.0 0.33" rpy="0 0 0"/>
    </xacro:sensor_hokuyo_ust10lx>

    <!-- 3d laser -->
    <xacro:sensor_rslidar_mems prefix="$(arg prefix)top_3d_laser" parent="$(arg prefix)base_link">
      <origin xyz="0.3134 0 0.2424" rpy="0 0 0"/>
    </xacro:sensor_rslidar_mems>

    <!-- ptz camera -->
    <xacro:sensor_axis prefix="$(arg prefix)front_ptz_camera" parent="$(arg prefix)base_link">
      <origin xyz="0.19 0 0.26" rpy="0 ${15*pi/180} 0"/>
    </xacro:sensor_axis>

    <!-- RGBD -->
    <xacro:sensor_orbbec_astra prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">
      <origin xyz="0.324 0.012 0.172" rpy="0 0 0"/>
    </xacro:sensor_orbbec_astra>

    <!-- GPS -->
    <xacro:sensor_gps prefix="$(arg prefix)gps" parent="$(arg prefix)base_link">
      <origin xyz="-0.28 0 0.6676" rpy="0 0 0"/>
    </xacro:sensor_gps>
  </xacro:macro>

</robot>
