<?xml version="1.0"?>
<!-- URDF for Summit XL-GEN (LunaLab variant) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <!-- Summit XL -->
  <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/summit_xl/summit_xl.xacro"/>

  <!-- Manipulators -->
  <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/lunalab_summit_xl_manipulators.xacro"/>

  <!-- Sensors -->
  <!-- <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/lunalab_summit_xl_sensors.xacro"/> -->

  <!-- Miscellaneous -->
  <!-- <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/lunalab_summit_xl_misc.xacro"/> -->

  <!-- Gazebo plugins -->
  <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/lunalab_summit_xl_gen.gazebo"/>


  <!--            -->
  <!-- Parameters -->
  <!--            -->
  <!-- Name of the robot (mandatory) -->
  <xacro:arg name="name" default="lunalab_summit_xl_gen"/>
  <!-- Prefix for all entities -->
  <xacro:arg name="prefix" default="robot_"/>

  <!-- Flag to enable safety limits controllers on manipulator joints -->
  <xacro:arg name="safety_limits" default="false"/>
  <!-- Lower and upper margin for position limits of all safety controllers -->
  <xacro:arg name="safety_position_margin" default="0.17453293"/>
  <!-- Parametric k-position factor of all safety controllers -->
  <xacro:arg name="safety_k_position" default="20"/>

  <!-- Flag to enable collision geometry for the chassis of Summit XL -->
  <xacro:arg name="collision_chassis" default="true"/>
  <!-- Flag to enable collision geometry for the wheels fo Summit XL -->
  <xacro:arg name="collision_wheels" default="true"/>
  <!-- Flag to enable collision geometry for manipulator's arm -->
  <xacro:arg name="collision_arm" default="true"/>
  <!-- Flag to enable collision geometry for manipulator's gripper (hand and fingers) -->
  <xacro:arg name="collision_gripper" default="true"/>

  <!-- (unimplemented!) Flag to select the high or low quality model -->
  <xacro:arg name="high_quality_mesh" default="ignored"/>

  <!-- Flag to mimic joints of the gripper -->
  <xacro:arg name="mimic_gripper_joints" default="false"/>

  <!-- Flag to enable ros2 controllers for manipulator -->
  <xacro:arg name="ros2_control" default="true"/>

  <!-- The ros2_control plugin that should be loaded for the manipulator ('fake', 'ign', 'real' or custom) -->
  <xacro:arg name="ros2_control_plugin" default="ign"/>

  <!-- The output control command interface provided by ros2_control ('position', 'velocity' or 'effort') -->
  <xacro:arg name="ros2_control_command_interface" default="effort"/>

  <!-- The filepath to parameters of ROS 2 controllers -->
  <xacro:arg name="ros2_controller_parameters" default="$(find lunalab_summit_xl_gen_moveit_config)/config/controllers_$(arg ros2_control_command_interface).yaml"/>

  <!-- Flag to preserve fixed joints and prevent lumping when generating SDF for Gazebo -->
  <xacro:arg name="gazebo_preserve_fixed_joint" default="false"/>

  <!-- Flag to enable self-collision of all robot links when generating SDF for Gazebo -->
  <xacro:arg name="gazebo_self_collide" default="false"/>

  <!-- Flag to enable self-collision of robot between fingers (finger tips) when generating SDF for Gazebo -->
  <xacro:arg name="gazebo_self_collide_fingers" default="true"/>

  <!-- Flag to enable DiffDrive Gazebo plugin for Summit XL -->
  <xacro:arg name="gazebo_diff_drive" default="true"/>

  <!-- Flag to enable JointTrajectoryController Gazebo plugin for manipulator -->
  <xacro:arg name="gazebo_joint_trajectory_controller" default="false"/>

  <!-- Flag to enable JointStatePublisher Gazebo plugin for all joints -->
  <xacro:arg name="gazebo_joint_state_publisher" default="false"/>

  <!-- Flag to enable PosePublisher Gazebo plugin for true pose of robot -->
  <xacro:arg name="gazebo_pose_publisher" default="true"/>


  <!--            -->
  <!-- Properties -->
  <!--            -->
  <!-- Prefixes -->
  <xacro:property name="prefix_summit_xl" value="$(arg prefix)summit_xl_"/>
  <xacro:property name="prefix_manipulator" value="$(arg prefix)j2s7s300_"/>

  <!-- Manipulator offset -->
  <xacro:property name="manipulator_base_parent" value="${prefix_summit_xl}base_link"/>
  <xacro:property name="manipulator_offset_xyz" value="0.204 0.0 0.11"/>
  <xacro:property name="manipulator_offset_rpy" value="0.0 0.0 0.0"/>

  <!--       -->
  <!-- Robot -->
  <!--       -->
  <!-- Summit XL -->
  <xacro:summit_xl
    prefix="${prefix_summit_xl}"
    add_base_footprint="true"
    collision_chassis="$(arg collision_chassis)"
    collision_wheels="$(arg collision_wheels)"
    high_quality_mesh="$(arg high_quality_mesh)"
    ros2_control="$(arg ros2_control)"
    ros2_control_plugin="$(arg ros2_control_plugin)"
    ros2_control_command_interface="none"
    gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
    gazebo_diff_drive="$(arg gazebo_diff_drive)"
  />

  <!-- Kinova Gen2 (Jaco2, spherical wrist, 7DOF, 3-finger gripper) -->
  <xacro:j2s7s300
    base_parent="${manipulator_base_parent}"
    prefix="${prefix_manipulator}"
    joint_base_origin_xyz="${manipulator_offset_xyz}"
    joint_base_origin_rpy="${manipulator_offset_rpy}"
    safety_limits="$(arg safety_limits)"
    safety_position_margin="$(arg safety_position_margin)"
    safety_k_position="$(arg safety_k_position)"
    collision_arm="$(arg collision_arm)"
    collision_gripper="$(arg collision_gripper)"
    high_quality_mesh="$(arg high_quality_mesh)"
    mimic_gripper_joints="$(arg mimic_gripper_joints)"
    ros2_control="$(arg ros2_control)"
    ros2_control_plugin="$(arg ros2_control_plugin)"
    ros2_control_command_interface="$(arg ros2_control_command_interface)"
    gazebo_preserve_fixed_joint="$(arg gazebo_preserve_fixed_joint)"
    gazebo_self_collide_fingers="$(arg gazebo_self_collide_fingers)"
    gazebo_joint_trajectory_controller="$(arg gazebo_joint_trajectory_controller)"
  />

  <!-- Sensors -->
  <!-- <xacro:lunalab_summit_xl_sensors prefix="$(arg prefix)"/> -->

  <!-- Miscellaneous -->
  <!-- <xacro:lunalab_summit_xl_misc prefix="$(arg prefix)"/> -->


  <!-- Gazebo - Self-collision -->
  <xacro:if value="$(arg gazebo_self_collide)">
    <gazebo>
      <self_collide>true</self_collide>
    </gazebo>
  </xacro:if>

  <!-- Gazebo - ROS 2 control (Ignition) -->
  <xacro:if value="$(arg ros2_control)">
    <xacro:if value="${'ign' in '$(arg ros2_control_plugin)'}">
      <xacro:ign_ros2_control controller_parameters="$(arg ros2_controller_parameters)"/>
    </xacro:if>
  </xacro:if>

  <!-- Gazebo - Joint state publisher -->
  <xacro:if value="$(arg gazebo_joint_state_publisher)">
    <xacro:gazebo_joint_state_publisher_summit_xl_gen_j2s7s300 prefix_summit_xl="${prefix_summit_xl}" prefix_manipulator="${prefix_manipulator}"/>
  </xacro:if>

  <!-- Gazebo - Pose publisher -->
  <xacro:if value="$(arg gazebo_pose_publisher)">
    <xacro:gazebo_pose_publisher/>
  </xacro:if>
</robot>
