<?xml version="1.0"?>
<!-- Kinova robot j2s7s300 -->
<!-- j - Jaco -->
<!-- 2 - v2 (Gen2) -->
<!-- s - spherical wrist -->
<!-- 7 - 7 DOF -->
<!-- s - service -->
<!-- 3 - 3 finger gripper -->
<!-- 0 - reserved -->
<!-- 0 - reserved -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/manipulators/kinova/kinova_common.xacro"/>
  <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/manipulators/kinova/kinova_finger_set.xacro"/>
  <xacro:include filename="$(find lunalab_summit_xl_gen_description)/urdf/manipulators/kinova/kinova.gazebo"/>


  <!--            -->
  <!-- Properties -->
  <!--            -->
  <xacro:property name="link_base_mesh" value="base"/>
  <xacro:property name="link_1_mesh" value="shoulder"/>
  <xacro:property name="link_2_mesh" value="arm_half_1"/>
  <xacro:property name="link_3_mesh" value="arm_half_2"/>
  <xacro:property name="link_4_mesh" value="forearm"/>
  <xacro:property name="link_5_mesh" value="wrist_spherical_1"/>
  <xacro:property name="link_6_mesh" value="wrist_spherical_2"/>
  <xacro:property name="link_7_mesh" value="hand_3finger"/>

  <xacro:property name="joint_base" value="joint_base"/>
  <xacro:property name="joint_base_type" value="fixed"/>
  <xacro:property name="joint_base_axis_xyz" value="0 0 0"/>
  <xacro:property name="default_joint_base_origin_xyz" value="0 0 0"/>
  <xacro:property name="default_joint_base_origin_rpy" value="0 0 0"/>

  <xacro:property name="joint_1" value="joint_1"/>
  <xacro:property name="joint_1_type" value="revolute"/>
  <xacro:property name="joint_1_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_1_origin_xyz" value="0 0 0.15675"/>
  <xacro:property name="joint_1_origin_rpy" value="0 ${pi} 0"/>
  <xacro:property name="joint_1_lower_limit" value="${-2*pi}"/>
  <xacro:property name="joint_1_upper_limit" value="${2*pi}"/>
  <xacro:property name="joint_1_velocity_limit" value="${36*pi/180}"/>
  <xacro:property name="joint_1_torque_limit" value="40"/>
  <xacro:property name="joint_1_damping" value="16.0"/>
  <xacro:property name="joint_1_friction" value="0.6"/>

  <xacro:property name="joint_2" value="joint_2"/>
  <xacro:property name="joint_2_type" value="revolute"/>
  <xacro:property name="joint_2_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_2_origin_xyz" value="0 0.0016 -0.11875"/>
  <xacro:property name="joint_2_origin_rpy" value="-${pi/2} 0 ${pi}"/>
  <xacro:property name="joint_2_lower_limit" value="${47/180*pi}"/>
  <xacro:property name="joint_2_upper_limit" value="${313/180*pi}"/>
  <xacro:property name="joint_2_velocity_limit" value="${36*pi/180}"/>
  <xacro:property name="joint_2_torque_limit" value="80"/>
  <xacro:property name="joint_2_damping" value="8.5"/>
  <xacro:property name="joint_2_friction" value="0.9"/>

  <xacro:property name="joint_3" value="joint_3"/>
  <xacro:property name="joint_3_type" value="revolute"/>
  <xacro:property name="joint_3_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_3_origin_xyz" value="0 -0.205 0"/>
  <xacro:property name="joint_3_origin_rpy" value="-${pi/2} 0 0"/>
  <xacro:property name="joint_3_lower_limit" value="${-2*pi}"/>
  <xacro:property name="joint_3_upper_limit" value="${2*pi}"/>
  <xacro:property name="joint_3_velocity_limit" value="${36*pi/180}"/>
  <xacro:property name="joint_3_torque_limit" value="40"/>
  <xacro:property name="joint_3_damping" value="7.5"/>
  <xacro:property name="joint_3_friction" value="0.75"/>

  <xacro:property name="joint_4" value="joint_4"/>
  <xacro:property name="joint_4_type" value="revolute"/>
  <xacro:property name="joint_4_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_4_origin_xyz" value="0 0 -0.205"/>
  <xacro:property name="joint_4_origin_rpy" value="${pi/2} 0 ${pi}"/>
  <xacro:property name="joint_4_lower_limit" value="${30/180*pi}"/>
  <xacro:property name="joint_4_upper_limit" value="${330/180*pi}"/>
  <xacro:property name="joint_4_velocity_limit" value="${36*pi/180}"/>
  <xacro:property name="joint_4_torque_limit" value="40"/>
  <xacro:property name="joint_4_damping" value="6.5"/>
  <xacro:property name="joint_4_friction" value="0.95"/>

  <xacro:property name="joint_5" value="joint_5"/>
  <xacro:property name="joint_5_type" value="revolute"/>
  <xacro:property name="joint_5_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_5_origin_xyz" value="0 0.2073 -0.0114"/>
  <xacro:property name="joint_5_origin_rpy" value="${-pi/2} 0 ${pi}"/>
  <xacro:property name="joint_5_lower_limit" value="${-2*pi}"/>
  <xacro:property name="joint_5_upper_limit" value="${2*pi}"/>
  <xacro:property name="joint_5_velocity_limit" value="${48*pi/180}"/>
  <xacro:property name="joint_5_torque_limit" value="20"/>
  <xacro:property name="joint_5_damping" value="4.5"/>
  <xacro:property name="joint_5_friction" value="0.35"/>

  <xacro:property name="joint_6" value="joint_6"/>
  <xacro:property name="joint_6_type" value="revolute"/>
  <xacro:property name="joint_6_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_6_origin_xyz" value="0 0 -0.10375"/>
  <xacro:property name="joint_6_origin_rpy" value="${pi/2} 0 ${pi}"/>
  <xacro:property name="joint_6_lower_limit" value="${65/180*pi}"/>
  <xacro:property name="joint_6_upper_limit" value="${295/180*pi}"/>
  <xacro:property name="joint_6_velocity_limit" value="${48*pi/180}"/>
  <xacro:property name="joint_6_torque_limit" value="20"/>
  <xacro:property name="joint_6_damping" value="4.0"/>
  <xacro:property name="joint_6_friction" value="0.3"/>

  <xacro:property name="joint_7" value="joint_7"/>
  <xacro:property name="joint_7_type" value="revolute"/>
  <xacro:property name="joint_7_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_7_origin_xyz" value="0 0.10375 0"/>
  <xacro:property name="joint_7_origin_rpy" value="${-pi/2} 0 ${pi}"/>
  <xacro:property name="joint_7_lower_limit" value="${-2*pi}"/>
  <xacro:property name="joint_7_upper_limit" value="${2*pi}"/>
  <xacro:property name="joint_7_velocity_limit" value="${48*pi/180}"/>
  <xacro:property name="joint_7_torque_limit" value="20"/>
  <xacro:property name="joint_7_damping" value="3.5"/>
  <xacro:property name="joint_7_friction" value="0.2"/>

  <xacro:property name="joint_end_effector" value="end_effector_offset"/>
  <xacro:property name="joint_end_effector_origin_xyz" value="0 0 -0.1600"/>
  <xacro:property name="joint_end_effector_origin_rpy" value="${pi} 0 ${pi/2}"/>

  <xacro:property name="link_base_mu" value="0.9"/>
  <xacro:property name="link_1_mu" value="0.9"/>
  <xacro:property name="link_2_mu" value="0.9"/>
  <xacro:property name="link_3_mu" value="0.9"/>
  <xacro:property name="link_4_mu" value="0.9"/>
  <xacro:property name="link_5_mu" value="0.9"/>
  <xacro:property name="link_6_mu" value="0.9"/>
  <xacro:property name="link_7_mu" value="0.9"/>


  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:macro name="j2s7s300" params="
    base_parent
    prefix:=j2s7s300_
    joint_base_origin_xyz:=${default_joint_base_origin_xyz}
    joint_base_origin_rpy:=${default_joint_base_origin_rpy}
    safety_limits:=false
    safety_position_margin:=${10*pi/180}
    safety_k_position:=20.0
    high_quality_mesh:=false
    gazebo_ros_control_plugin:=false
    gazebo_ros_ft_sensor:=false
  ">
    <xacro:kinova_armlink link_name="${prefix}link_base" link_mesh="${link_base_mesh}" mu="${link_base_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_base" type="${joint_base_type}" parent="${base_parent}" child="${prefix}link_base" joint_axis_xyz="${joint_base_axis_xyz}" joint_origin_xyz="${joint_base_origin_xyz}" joint_origin_rpy="${joint_base_origin_rpy}" joint_lower_limit="0" joint_upper_limit="0" joint_velocity_limit="0" joint_torque_limit="0" fixed="true" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_armlink link_name="${prefix}link_1" link_mesh="${link_1_mesh}" use_ring_mesh="true" mu="${link_1_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_1" type="${joint_1_type}" parent="${prefix}link_base" child="${prefix}link_1" joint_axis_xyz="${joint_1_axis_xyz}" joint_origin_xyz="${joint_1_origin_xyz}" joint_origin_rpy="${joint_1_origin_rpy}" joint_damping="${joint_1_damping}" joint_friction="${joint_1_friction}" joint_lower_limit="${joint_1_lower_limit}" joint_upper_limit="${joint_1_upper_limit}" joint_velocity_limit="${joint_1_velocity_limit}" joint_torque_limit="${joint_1_torque_limit}" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_armlink link_name="${prefix}link_2" link_mesh="${link_2_mesh}" use_ring_mesh="true" mu="${link_2_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_2" type="${joint_2_type}" parent="${prefix}link_1" child="${prefix}link_2" joint_axis_xyz="${joint_2_axis_xyz}" joint_origin_xyz="${joint_2_origin_xyz}" joint_origin_rpy="${joint_2_origin_rpy}" joint_damping="${joint_2_damping}" joint_friction="${joint_2_friction}" joint_lower_limit="${joint_2_lower_limit}" joint_upper_limit="${joint_2_upper_limit}" joint_velocity_limit="${joint_2_velocity_limit}" joint_torque_limit="${joint_2_torque_limit}" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_armlink link_name="${prefix}link_3" link_mesh="${link_3_mesh}" use_ring_mesh="true" mu="${link_3_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_3" type="${joint_3_type}" parent="${prefix}link_2" child="${prefix}link_3" joint_axis_xyz="${joint_3_axis_xyz}" joint_origin_xyz="${joint_3_origin_xyz}" joint_origin_rpy="${joint_3_origin_rpy}" joint_damping="${joint_3_damping}" joint_friction="${joint_3_friction}" joint_lower_limit="${joint_3_lower_limit}" joint_upper_limit="${joint_3_upper_limit}" joint_velocity_limit="${joint_3_velocity_limit}" joint_torque_limit="${joint_3_torque_limit}" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_armlink link_name="${prefix}link_4" link_mesh="${link_4_mesh}" use_ring_mesh="true" mu="${link_4_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_4" type="${joint_4_type}" parent="${prefix}link_3" child="${prefix}link_4" joint_axis_xyz="${joint_4_axis_xyz}" joint_origin_xyz="${joint_4_origin_xyz}" joint_origin_rpy="${joint_4_origin_rpy}" joint_damping="${joint_4_damping}" joint_friction="${joint_4_friction}" joint_lower_limit="${joint_4_lower_limit}" joint_upper_limit="${joint_4_upper_limit}" joint_velocity_limit="${joint_4_velocity_limit}" joint_torque_limit="${joint_4_torque_limit}" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_armlink link_name="${prefix}link_5" link_mesh="${link_5_mesh}" use_ring_mesh="true" ring_mesh="ring_small" mu="${link_5_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_5" type="${joint_5_type}" parent="${prefix}link_4" child="${prefix}link_5" joint_axis_xyz="${joint_5_axis_xyz}" joint_origin_xyz="${joint_5_origin_xyz}" joint_origin_rpy="${joint_5_origin_rpy}" joint_damping="${joint_5_damping}" joint_friction="${joint_5_friction}" joint_lower_limit="${joint_5_lower_limit}" joint_upper_limit="${joint_5_upper_limit}" joint_velocity_limit="${joint_5_velocity_limit}" joint_torque_limit="${joint_5_torque_limit}" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_armlink link_name="${prefix}link_6" link_mesh="${link_6_mesh}" use_ring_mesh="true" ring_mesh="ring_small" mu="${link_6_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_6" type="${joint_6_type}" parent="${prefix}link_5" child="${prefix}link_6" joint_axis_xyz="${joint_6_axis_xyz}" joint_origin_xyz="${joint_6_origin_xyz}" joint_origin_rpy="${joint_6_origin_rpy}" joint_damping="${joint_6_damping}" joint_friction="${joint_6_friction}" joint_lower_limit="${joint_6_lower_limit}" joint_upper_limit="${joint_6_upper_limit}" joint_velocity_limit="${joint_6_velocity_limit}" joint_torque_limit="${joint_6_torque_limit}" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_armlink link_name="${prefix}link_7" link_mesh="${link_7_mesh}" use_ring_mesh="true" ring_mesh="ring_small" mu="${link_7_mu}"/>
    <xacro:kinova_armjoint joint_name="${prefix}joint_7" type="${joint_7_type}" parent="${prefix}link_6" child="${prefix}link_7" joint_axis_xyz="${joint_7_axis_xyz}" joint_origin_xyz="${joint_7_origin_xyz}" joint_origin_rpy="${joint_7_origin_rpy}" joint_damping="${joint_7_damping}" joint_friction="${joint_7_friction}" joint_lower_limit="${joint_7_lower_limit}" joint_upper_limit="${joint_7_upper_limit}" joint_velocity_limit="${joint_7_velocity_limit}" joint_torque_limit="${joint_7_torque_limit}" safety_limits="${safety_limits}" safety_position_margin="${safety_position_margin}" safety_k_position="${safety_k_position}" gazebo_ros_ft_sensor="${gazebo_ros_ft_sensor}"/>

    <xacro:kinova_virtual_fixed_link joint_name="${prefix}joint_end_effector" parent="${prefix}link_7" child="${prefix}end_effector" joint_origin_xyz="${joint_end_effector_origin_xyz}" joint_origin_rpy="${joint_end_effector_origin_rpy}"/>

    <xacro:kinova_3fingers link_hand="${prefix}link_7" prefix="${prefix}"/>

    <!-- Add ros_control Gazebo plugin, if enabled -->
    <xacro:if value="${gazebo_ros_control_plugin}">
      <xacro:gazebo_ros_control robot_namespace="${prefix}"/>
    </xacro:if>
  </xacro:macro>

</robot>
