<?xml version="1.0"?>
<launch>

  <!-- Arguments -->
  <arg name="ns" default="/"/>
  <arg name="prefix" default="robot_"/>
  <arg name="manipulator_type" default="j2s7s300"/>
  <arg name="manipulator_name" default="$(arg prefix)$(arg manipulator_type)"/>
  <arg name="manipulator_prefix" default="$(arg manipulator_name)_"/>

  <arg name="kinova_serial_number" default="not_set"/>

  <!-- Driver of the manipulator -->
  <node pkg="kinova_driver" type="kinova_arm_driver" name="$(arg manipulator_prefix)driver" ns="$(arg ns)" respawn="false" output="screen" cwd="node" args="$(arg manipulator_type)">
    <rosparam file="$(find lunalab_summit_xl_gen_control)/config/$(arg manipulator_type)_parameters.yaml" command="load"/>
    <remap from="/$(arg manipulator_prefix)driver/out/joint_state" to="/joint_states"/>
    <param name="serial_number" value="$(arg kinova_serial_number)"/>
    <param name="robot_name" value="$(arg manipulator_name)"/>
    <param name="robot_type" value="$(arg manipulator_type)"/>
  </node>
  <node pkg="kinova_driver" type="kinova_tf_updater" name="$(arg manipulator_prefix)tf_updater" ns="$(arg ns)" respawn="false" output="screen" cwd="node" args="$(arg manipulator_type)">
    <remap from="/$(arg manipulator_prefix)tf_updater/in/joint_angles" to="/$(arg manipulator_prefix)driver/out/joint_angles"/>
    <param name="base_frame" value="root"/>
    <param name="robot_type" value="$(arg manipulator_type)"/>
  </node>

  <!-- Action server for Follow Joint Trajectory. All received goals are republished to the internal joint trajectory controller (initialised in kinova_arm_driver). -->
  <node pkg="kinova_driver" type="joint_trajectory_action_server" name="$(arg manipulator_prefix)joint_trajectory_action_server" ns="$(arg ns)" respawn="false" output="screen" args="$(arg manipulator_name)"/>
  <!-- Action server for Gripper Command. All received goals are republished to the internal gripper controller (initialised in kinova_arm_driver). -->
  <node pkg="kinova_driver" type="gripper_command_action_server" name="$(arg manipulator_prefix)gripper_command_action_server" ns="$(arg ns)" respawn="false" output="screen" args="$(arg manipulator_name)"/>

</launch>
