<?xml version="1.0"?>
<!-- Macro that includes a RealSense L515 camera -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!--            -->
  <!-- Properties -->
  <!--            -->
  <!-- This camera supports mounting on manipulator's wrist -->
  <xacro:property name="realsense_l515_mount_type" value="wrist"/>
  <xacro:property name="realsense_l515_mount_offset_xyz" value="-0.077663 0.005981 0.053413"/>
  <xacro:property name="realsense_l515_mount_offset_rpy" value="0.0 ${15*pi/180} 0.0"/>
  <xacro:property name="realsense_l515_sensor_offset_xyz" value="0.0 -0.014 0.0448"/>
  <xacro:property name="realsense_l515_sensor_offset_rpy" value="0.0 ${-pi/2} 0.0"/>


  <!-- TODO: realsense_l515 - add sensor (gazebo), fix inertia, geometry -->
  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:macro name="realsense_l515" params="
   base_parent
   prefix:=realsense_l515_
   joint_origin_xyz
   joint_origin_rpy
   collision:=true
   high_quality_mesh:=false
   gazebo_preserve_fixed_joint:=false
   gazebo_camera_enable:=true
   gazebo_camera_update_rate:=15.0
   gazebo_camera_width:=424
   gazebo_camera_height:=240
   gazebo_camera_horizontal_fov:=${70*pi/180}
   gazebo_camera_vertical_fov:=${43*pi/180}
   gazebo_camera_color_clip_near:=0.001
   gazebo_camera_color_clip_far:=1000.0
   gazebo_camera_depth_clip_near:=0.01
   gazebo_camera_depth_clip_far:=15.0
   gazebo_camera_noise_mean:=0.0
   gazebo_camera_noise_stddev:=0.001
   gazebo_camera_visibility_mask:=0
  ">
    <joint name="${prefix}joint_mount" type="fixed">
      <parent link="${base_parent}"/>
      <child link="${prefix}mount"/>
      <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
    </joint>

    <link name="${prefix}mount">
      <visual>
        <geometry>
          <mesh filename="package://lunalab_summit_xl_gen_description/meshes/sensors/realsense_l515/visual/wrist_mount.dae"/>
        </geometry>
      </visual>
      <xacro:if value="${collision}">
        <collision>
          <geometry>
            <mesh filename="package://lunalab_summit_xl_gen_description/meshes/sensors/realsense_l515/collision/wrist_mount.stl"/>
          </geometry>
        </collision>
      </xacro:if>
      <inertial>
        <mass value="1e-5"/>
        <inertia ixx="1e-35" iyy="1e-35" izz="1e-35" ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <joint name="${prefix}joint" type="fixed">
      <parent link="${prefix}mount"/>
      <child link="${prefix}link"/>
      <origin xyz="${realsense_l515_mount_offset_xyz}" rpy="${realsense_l515_mount_offset_rpy}"/>
    </joint>

    <link name="${prefix}link">
      <visual>
        <geometry>
          <mesh filename="package://lunalab_summit_xl_gen_description/meshes/sensors/realsense_l515/visual/realsense_l515.dae"/>
        </geometry>
      </visual>
      <xacro:if value="${collision}">
        <collision>
          <geometry>
            <mesh filename="package://lunalab_summit_xl_gen_description/meshes/sensors/realsense_l515/collision/realsense_l515.stl"/>
          </geometry>
        </collision>
      </xacro:if>
      <inertial>
        <mass value="1e-5"/>
        <inertia ixx="1e-35" iyy="1e-35" izz="1e-35" ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <joint name="${prefix}joint_sensor" type="fixed">
      <parent link="${prefix}link"/>
      <child link="${prefix}sensor"/>
      <origin xyz="${realsense_l515_sensor_offset_xyz}" rpy="${realsense_l515_sensor_offset_rpy}"/>
    </joint>

    <link name="${prefix}sensor">
      <inertial>
        <mass value="1e-5"/>
        <inertia ixx="1e-35" iyy="1e-35" izz="1e-35" ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <xacro:if value="${gazebo_camera_enable}">
      <gazebo reference="${prefix}sensor">
        <sensor name="${prefix}sensor" type="rgbd_camera">
          <topic>${prefix}</topic>
          <always_on>1</always_on>
          <update_rate>${gazebo_camera_update_rate}</update_rate>
          <camera name="${prefix}camera">
            <image>
              <format>R8G8B8</format>
              <width>${gazebo_camera_width}</width>
              <height>${gazebo_camera_height}</height>
            </image>
            <horizontal_fov>${gazebo_camera_horizontal_fov}</horizontal_fov>
            <vertical_fov>${gazebo_camera_vertical_fov}</vertical_fov>
            <clip>
              <near>${gazebo_camera_color_clip_near}</near>
              <far>${gazebo_camera_color_clip_far}</far>
            </clip>
            <depth_camera>
              <output>depths</output>
              <clip>
                <near>${gazebo_camera_depth_clip_near}</near>
                <far>${gazebo_camera_depth_clip_far}</far>
              </clip>
            </depth_camera>
            <noise>
              <type>gaussian</type>
              <mean>${gazebo_camera_noise_mean}</mean>
              <stddev>${gazebo_camera_noise_stddev}</stddev>
            </noise>
            <visibility_mask>${gazebo_camera_visibility_mask}</visibility_mask>
            <visualize>true</visualize>
          </camera>
          <visualize>true</visualize>
        </sensor>
      </gazebo>
    </xacro:if>

    <xacro:if value="${gazebo_preserve_fixed_joint}">
      <gazebo reference="${prefix}joint_mount">
        <preserveFixedJoint>true</preserveFixedJoint>
        <disableFixedJointLumping>true</disableFixedJointLumping>
      </gazebo>
    </xacro:if>
    <xacro:if value="${gazebo_preserve_fixed_joint}">
      <gazebo reference="${prefix}joint">
        <preserveFixedJoint>true</preserveFixedJoint>
        <disableFixedJointLumping>true</disableFixedJointLumping>
      </gazebo>
    </xacro:if>
    <xacro:if value="${gazebo_preserve_fixed_joint}">
      <gazebo reference="${prefix}joint_sensor">
        <preserveFixedJoint>true</preserveFixedJoint>
        <disableFixedJointLumping>true</disableFixedJointLumping>
      </gazebo>
    </xacro:if>
  </xacro:macro>

</robot>
