<?xml version="1.0"?>
<!-- Macro that includes supported manipulators -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <!-- j2s7s300 - Kinova (Jaco) Gen2 robot arm with spherical wrist, 7 DOF and a 3-finger gripper -->
  <xacro:include filename="$(find lunalab_summit_xl_gen_moveit_config)/srdf/lunalab_summit_xl_gen_j2s7s300.xacro"/>

</robot>
